* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #9CDCFE, #007c91);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    width: 380px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

.subtitulo {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #444;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: 1px solid #000000;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #00bcd4;
    box-shadow: 0 0 4px rgba(0, 188, 212, 0.5);
}
 

.formulario .cadastro{
    transition: 0.3s;
}

.cadastro:hover {
    background: white;
    color: #1e3c72;
}

#mensagem {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

.voltar {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    border: 2px solid #1e3c72;
    color: #1e3c72;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 15px;
    width: 100px;
    
}

.voltar:hover {
    background: #1e3c72;
    color: white;
}

