body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7f9;
}

.header {
    background: #031f1f;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    padding: 30px;
}

h2 {
    margin-bottom: 20px;
}

.grid-funcoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.btn-setor {
    background: #0f6666;
    color: white;
    border: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-setor:hover {
    background: #148080;
    transform: scale(1.05);
}

.hidden {
    display: none;
}

.topo-painel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-voltar {
    background: #031f1f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.filtros button {
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    background: #0b4c4c;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.grid-pedidos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card-pedido {
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #0f6666; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card-pedido:hover {
    border-color: #148080;
    transform: translateY(-3px);
}
.card-pedido select {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
}