* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #9CDCFE, #007c91);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    width: 380px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

.subtitulo {
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #444;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #00bcd4;
    box-shadow: 0 0 4px rgba(0, 188, 212, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #00bcd4;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0097a7;
}

#mensagem {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}
