body {
    font-family: 'Segoe UI', sans-serif;


    background: linear-gradient(
        135deg,
        #031f1f 0%,
        #0b4c4c 40%,
        #148080 75%,
        #1ca88a 100%
    );

    margin: 0;
    min-height: 100vh;
}

.header {
    text-align: center;
    padding: 30px;
    color: white;
}

.header h1 {
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.checkout-container {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.97);

    padding: 40px;
    border-radius: 15px;

    box-shadow: 0 20px 50px rgba(0,0,0,0.2);

    border-top: 6px solid #148080;
}

h2 {
    color: #0b4c4c;
    margin-bottom: 20px;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;

    border-radius: 8px;
    border: 2px solid #148080;

    transition: 0.3s;
}

input:focus,
select:focus {
    outline: none;
    border-color: #1ca88a;
    box-shadow: 0 0 8px rgba(28, 168, 138, 0.4);
}

.btn-confirmar {
    width: 100%;
    padding: 15px;

    background: linear-gradient(
        135deg,
        #0b4c4c,
        #148080
    );

    color: white;
    border: none;
    border-radius: 10px;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    transition: 0.3s;
}

.btn-confirmar:hover {
    background: linear-gradient(
        135deg,
        #148080,
        #1ca88a
    );

    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(20, 128, 128, 0.4);
}

#mensagemFinal {
    margin-top: 20px;
    font-weight: bold;
    color: #148080;
    text-align: center;
}

.voltar {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;

    background: linear-gradient(
        135deg,
        #062f2f,
        #0f6666
    );

    padding: 6px 14px;
    border-radius: 8px;
    font-weight: bold;

    transition: 0.3s;
    margin-bottom: 15px;
    margin-top: 30px;
    align-self: flex-start;

    border: none;
}

.voltar:hover {
    background: linear-gradient(
        135deg,
        #0f6666,
        #148080
    );

    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(20, 128, 128, 0.4);
}