:root {
    --petroleo-1: #031f1f;
    --petroleo-2: #062f2f;
    --petroleo-3: #0b4c4c;
    --petroleo-4: #0f6666;
    --petroleo-5: #148080;
    --branco: #ffffff;
    --cinza-claro: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #002f3d;
    min-height: 100vh;
    color: var(--branco);
}

.header {
    padding: 25px 40px;
    background: #002f3d;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    position: relative;
}

.header-content h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.btn-cadastrar {
    background: var(--petroleo-5);
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-cadastrar:hover {
    background: var(--petroleo-3);
    transform: scale(1.05);
}

.container {
    padding: 40px;
}

.card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(8px);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    margin-bottom: 30px;
}

.select-area {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
    font-size: 16px;
}

.clientes-container {
    margin-top: 20px;
    display: grid;
    gap: 20px;
}
.voltar {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 6px 14px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 15px;
    width: 100px;
    margin-left: 50px; 
    margin-top: 20px;
    
}

.voltar:hover {
    background: #1f3f7a;
    color: white;
}