* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #0b3d3d, #0f6b5a, #1a8c72);
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.container h1 {
    margin-bottom: 30px;
    color: #0b4f4f;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #0b4f4f, #13795b);

    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: linear-gradient(135deg, #13795b, #1fa37a);
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(19, 121, 91, 0.4);
}